* {
    font-family: "Barlow", Helvetica, sans-serif;
}

.menu input {
    margin-left: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

in style.css .user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.footeremil {
    background-color: #222 !important;
    border-color: #333 !important;
    border-radius: 20px !important;
    color: #fff !important;
}

::placeholder {
    color: #888 !important;
    font-size: 14px;
}

.footertext {
    font-size: 15px;
    font-family: "Nunito sans ,sans-serif";
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;

}

.footeremail:focus {
    outline: none;


}

a:hover a:focus {
    text-decoration: none;
    outline: none;
    color: #ffffff;

}

.but{
    color: #fff;
    background-color: #ffc107;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    border-radius: 12px;
    height: 43px;
    width: 100px;
}

.linb:hover{
    color: #ffc107;
}

.footer {
    height: 100%;
    font-family: "Nunito sans ,sans-serif";
    -webkit-font-smoothing: antialiased;
}

.footer {
    background-color: #121212;
    padding-top: 70px;
}

.footer-about {
    margin-bottom: 30px;
}

.footer-about .footer-logo {
    margin-bottom: 30px;
}

.footer-about p {
    color: #b7b7b7;
    margin-bottom: 30px;
}

.footer-wedget {
    margin-bottom: 30px;
}

.footer-wedget h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-wedget ul li {
    line-height: 36px;
    list-style: none;
}

.footer-wedget ul li a {
    color: #b7b7b7;
    font-size: 15px;
}

.footer-wedget ul li a:hover {
    color: #ffc107;
}

.footer-wedget .footer-newslatter p {
    color: #b7b7b7;
}

.footer-wedget .footer-newslatter form {

    position: relative;
}

.footer-wedget .footer-newslatter form input {
    width: 100%;
    font-size: 15px;
    color: #ffffffff;
    background: transparent;
    border: none;
    padding: 15px;
    border-bottom: 2px solid #ffffffff;
}

.footer-wedget .footer-newslatter form input ::placeholder {
    color: #b7b7b7;

}

.footer-wedget .footer-newslatter form button {
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}



/*form*/
.formlayout {
    border: solid #212529;
    background-color: #212529;
    padding: 80px;
    margin: 70px;
}

.containerlog {
    font-family: 'Almarai', sans-serif;
    display: flex;
    margin: 20px 160px;
}

.asteric {
    color: red;
}

.head3 {
    font-size: 30px;
    text-align: center;
}

.acc {
    color: #212529bf;
    margin-left: 170px;
}

.radios{
    display: flex;
    padding: 2px;
}

.word {
    cursor:pointer;
    transition:all .2s ease;
}

.radiobutton{
    display:none; 
}

.radiobutton:checked{
    text-decoration: underline #1c80e5;
}

.radios{
  display: flex;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}
.radios .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.radios .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.radios .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.radios .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}