* {
    font-family: "Barlow", Helvetica, sans-serif;
}

.menu input {
    margin-left: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

in style.css .user-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.footeremil {
    background-color: #222 !important;
    border-color: #333 !important;
    border-radius: 20px !important;
    color: #fff !important;
}

::placeholder {
    color: #888 !important;
    font-size: 14px;
}

.footertext {
    font-size: 15px;
    font-family: "Nunito sans ,sans-serif";
    color: #3d3d3d;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;

}

/*footer*/
.footeremail:focus {
    outline: none;


}

a:hover a:focus {
    text-decoration: none;
    outline: none;
    color: #ffffff;

}

.but {

    color: #fff;
    background-color: #ffc107;
    letter-spacing: 0.5px;
    text-align: center;
    border: none;
    border-radius: 12px;
    height: 43px;
    width: 100px;
}

.linb:hover {

    color: #ffc107;
}

.footer {
    height: 100%;
    font-family: "Nunito sans ,sans-serif";
    -webkit-font-smoothing: antialiased;
}

.footer {
    background-color: #121212;
    padding-top: 70px;
}

.footer-about {
    margin-bottom: 30px;
}

.footer-about .footer-logo {
    margin-bottom: 30px;
}

.footer-about p {
    color: #b7b7b7;
    margin-bottom: 30px;
}

.footer-wedget {
    margin-bottom: 30px;
}

.footer-wedget h6 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer-wedget ul li {
    line-height: 36px;
    list-style: none;
}

.footer-wedget ul li a {
    color: #b7b7b7;
    font-size: 15px;
}

.footer-wedget ul li a:hover {
    color: #ffc107;
    color: #ffc107;
}

.footer-wedget .footer-newslatter p {
    color: #b7b7b7;
}

.footer-wedget .footer-newslatter form {

    position: relative;
}

.footer-wedget .footer-newslatter form input {
    width: 100%;
    font-size: 15px;
    color: #ffffffff;
    background: transparent;
    border: none;
    padding: 15px;
    border-bottom: 2px solid #ffffffff;
}

.footer-wedget .footer-newslatter form input ::placeholder {
    color: #b7b7b7;

}

.footer-wedget .footer-newslatter form button {
    color: #b7b7b7;
    font-size: 16px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}


/*form*/
.formlayout {
    border: solid white;
    background-color: #fff;
    padding: 30px 60px 100px 30px;
    margin: 60px;
}

.containersign {
    font-family: 'Almarai', sans-serif;
    display: flex;
    margin: 80px;
}

.image {
    margin: 50px;
}


.asteric {
    color: red;
}

.head3 {
    font-size: 38px;
    color: #ffc107;
    padding: 5px;
    text-align: center;
}

.acc {
    color: #212529bf;
    margin-left: 170px;
}