* {
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #000000;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: #ffffff;
}

.team {
    text-align: center;
    color: #ffffff;
    margin-top: 20vh;
}

.container {
    position: relative;
    width: 20%;
    float: left;


}

.container:hover .overlay {
    opacity: 1;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#hoss {
    background-color: #3b277e;
}

#adam {
    background-color: teal;
}

#sara {
    background-color: rgb(18, 53, 130);
}

#marina {
    background-color: blueviolet;

}

#yehia {
    background-color: rgb(186, 37, 37);
}